/* css/layout/header.css - Стили шапки */

.header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.header_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logo a {
    color: #333;
}

.logo a:hover {
    color: #666;
}